.form {
  position: relative;
  background-color: rgb(22, 33, 62,0.6);
  justify-content: center;
  align-items: center;
}

.form::before {
  content: "";
  background: url("../../assets/nflix_bg_img.png") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
